 body {
            background-color: blue;
            color: rgb(255,215,0);
            }
        
        #school_image {
            width: 750px;
            position: relative;
            left: 570px;
            top: 200px;
            border: double 5px;
            }
        
        #school_info {
            background-color: rgb(0,0,205);
            font-size: 25px;
            position: relative;
            top: -250px;
                }

        #about_us {
            width: 300px;
            font-size: 20px;
            position: relative;
            top: -100px;
            left: 50px;
            
            }

        #intro {
            font-size: 25px;
            position: relative;
            margin-top: 75px;
            }
        
        #club {
            font-size: 30px;
            position: relative;
            top: -460px;
            text-align: right;
            left: -75px;
        }
        
        .title {
            text-align: center;
            background-color: white;
            position: relative;
            height: 100px;
            
            }
            
        h1.title {
            position: relative;
            top: 40px;
            font-size: 40px;
        }
            
        .catchphrase {
            text-align: center;
        }
        
        .principal{
            position: relative;
            left: 430px;
        }
        
        .address {
           text-align: center;
           position: relative;
           top: -120px;

        }
        
        .news {
            position: relative;
            left: 1100px;
            top: -240px;

        }
        
        .calendar {
            position: relative;
            top: -200px;
            left: 700px;
        }
        
        h3.calendar {
            position: relative;
            left: 800px;
        }
        
        #x {
            text-align: center;
        }
