body {
            background-color: rgb(4, 31, 96);
            color: rgb(225, 215, 0);
        }

        a {
            color: rgb(255, 215, 0);
        }

        #school_image {
            width: 500px;
            position: relative;
            left: 350px;
            border: double 5px;
        }

        #school_info {
            background-color: rgb(11, 54, 79);
            font-size: 25px;
            position: relative;
            top: -250px;
            border: solid;
        }

        #about_us {
            width: 300px;
            font-size: 20px;
            position: relative;
            top: -100px;
            left: 50px;
        }

        #intro {
            font-size: 25px;
            position: relative;
            margin-top: 75px;
        }

        #club {
            font-size: 30px;
            position: relative;
            top: -460px;
            text-align: right;
            left: -75px;
        }

        #x {
            text-align: center;
        }

        .title {
            text-align: center;
            background-color: white;
            position: relative;
            height: 100px;

        }

        h1.title {
            position: relative;
            top: 40px;
            font-size: 40px;
        }

        .catchphrase {
            text-align: center;
        }

        .principal {
            position: relative;
            left: 200px;
        }

        .address {
            position: relative;
            left: 550px;
            top: -120px;

        }

        .news {
            position: relative;
            left: 800px;
            top: -240px;

        }

        .calendar {
            position: relative;
            top: -200px;
            left: 700px;
        }

        h3.calendar {
            position: relative;
            left: 800px;
        }

        .team {
            position: relative;
            top: 50px;
            left: 200px;
            width: 750px;
            height: 450px;
            font-size: 30px;
        }

        img.team {
            position: relative;
            border: groove 10px rgb(255, 215, 0);
            float: right;
            z-index: -1;
        }

        #p1 {
            position: relative;
            top: -300px;
            left: -175px;
        }

        #p2 {
            font-size: 25px;
            position: relative;
            top: -430px;
            left: 1000px;
        }

        .team_info {
            position: relative;
            top: 250px;
            text-align: center;
        }

        #players {
            font-size: 20px;
            position: relative;
            left: 450px;
        }

        .coach {
            position: relative;
            font-size: 25px;
            top: -280px;
            left: -400px;
        }

        .assistant_coach {
            position: relative;
            font-size: 25px;
            top: -280px;
            left: -400px;
        }

        .awards {
            position: relative;
            font-size: 25px;
            top: -500px;
            left: 400px;
        }

        #win {
            border: groove 10px rgb(255, 215, 0);
            position: relative;
            left: 500px;
        }

        #news {
            text-align: center;
        }

        #p3 {
            font-size: 20px;
            text-align: center;
        }

        .schoolDepartment {
            position: relative;
            top: -490px;
            left: 100px;
        }

        #scienceTeachers {
            width: 500px;
            position: relative;
            margin-left: 100px;
            border: double 5px;
        }
        
        #sciencePoster {
            width: 500px;
            position: relative;
            top: -450px;
            margin-left: 620px;
            border: double 5px;
        }
        
        #scienceInfo {
            background-color: ble;
            position: relative;
            top: -300px;
            margin: 40px;
            width: 400px;
            
           
        }
        
        p.science {
            font-size: 20px;
        }
        
        #dashed1 {
            position: relative;
            left: -370px;
            top: -300px;
            
            width: 600px;
            transform: rotate(90deg);
        }
        
        #dashed2 {
            position: relative;
            left: 100px;
            top: -840px;
            
            width: 600px;
            transform: rotate(90deg);
        }
        
        #coursesOfferedInfo {
            background-color: gree;
            width: 400px;
            position: relative;
            top: -607px;
            left: 500px;
        }
        
        ul.coursesOffered {
            font-size: 20px;
        }
        
        #teachersInfo {
            position: relative;
            top: -1160px;
            left: 1000px;
            background-color: green;
            width: 400px;
        }
        
        table.teachers {
            font-size: 20px;
            margin-top: 25px;
        }
